body{
  background-image: url(./fon.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.heading{
  text-transform: uppercase;
  text-align: center;
  font-family: 'Courgette', cursive;
  color: rgb(65, 64, 64);
  font-size: 35px;
}
.page{
  background-color: white;
  border: 10px solid rgb(237, 212, 146);
  width: 500px;
  height: 70vh;
  padding: 50px;
  margin-top: 50px;
  margin-left: 460px;
}
.styleWord{
  text-decoration: line-through 2px solid;
  color: rgb(65, 64, 64);
}
ul, li{
  list-style-type: none;
  font-family: 'Courgette', cursive;
  font-size: 25px;
}
.add{
  background-color: rgb(237, 212, 146);
  width: 100px;
  font-size: 19px;
  color: rgb(65, 64, 64);
  border:2px solid rgb(65, 64, 64);
}
.delete{
  width: 96%;
  font-size: 19px;
  color: white;
  background-color: rgb(65, 64, 64);

}
input{
  width: 74%;
  font-family: 'Courgette', cursive;
  border: 2px solid rgb(237, 212, 146);
  font-size: 18px;
}